<div class="container" id="div_panel_control_lg"  >

	<div class="row">
		<div class="col-xs-3">

			<div class="col-12">
				<a class="btn_panel_control" id="btn_ventas" (click)="fn_mostrar_ventas()" >
					Ventas
					<span *ngIf="mostrar_ventas"> -</span>
					<span *ngIf="!mostrar_ventas"> ˅</span>
				</a>
			</div>
			<div class="col-12">
				<a  class="btn_panel_control" (click)="fn_mostrar_cuenta()">
					Informacion de Envio
					<span *ngIf="mostrar_cuenta"> -</span>
					<span *ngIf="!mostrar_cuenta"> ˅</span>
				</a>
			</div>
			<div class="col-12">
				<a  class="btn_panel_control" (click)="fn_mostrar_cambio_contrasena()">
					Cambio Contraseña
					<span *ngIf="mostrar_cambio_contrasena"> -</span>
					<span *ngIf="!mostrar_cambio_contrasena"> ˅</span>
				</a>
			</div>
		</div>
		<div class="col-xs-9">
				<div *ngIf="mostrar_ventas" >
					<h1>Tus Ventas</h1>
							<div *ngIf="!hay_ventas">
								<h3 style="text-align:center;font-weight:bold;">
									No has echo compras aun  :(.
								</h3>
							</div>
				<div  class=" cls_item_compras" *ngFor="let v of ventas">
					<div class="row">
						<div class="col-xs-4">
							<p>Estaus: Entregado</p>
						</div>
						<div class="col-xs-3">
							<p>Folio Venta: {{v.id_venta}}</p>
						</div>
						<div class="col-xs-2">
							<button class="btn btn-primary-default" (click)="fn_consulta_detalle_ventas(v.id_venta)">
								Detalle
							</button>
						</div>
						<div class="col-xs-3">
							<button class="btn btn-primary" >Seguir Envio</button>
						</div>
					</div>
					<div class="row">
								<div class="col-xs-12">
									<p><span>Fecha Venta: </span>{{v.fecha | date:'dd-MM-yyyy'}}</p>
								</div>
								<div class="col-xs-10" style="text-align: right;">
										<div class="row">
											<div class="col-12" >
												<p>
													<span>Sub-Total</span>
												</p>
											</div>
											<div class="col-12" >
												<p>
													<span>Descuent</span>
												</p>
											</div>
											<div class="col-12" >
											<p><span>IVA</span>

												</p>
											</div>
											<div class="col-12" >
												<p><span>Total</span>

												</p>
											</div>
										</div>

								</div>

									<div class="col-xs-2" >
											<div class="row">
												<div class="col-xs-12">
													<p>
														{{v.sub_total}}
													</p>
												</div>
												<div class="col-xs-12">
													<p>
														{{v.descuento}}
													</p>
												</div>
												<div class="col-xs-12">
												<p>
														{{v.iva}}
													</p>
												</div>
												<div class="col-xs-12">
													<p>
														{{v.total}}
													</p>
												</div>
											</div>
									</div>

					</div>
				</div>
			</div>





			<div class="col-xs-12" *ngIf="mostrar_cuenta">
				<div class="row">
					<form  [formGroup]="cliente"  class="form-horizontal">

						<h1 >
								Informacion Personal
						</h1>
						<div class="row">
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario">
								<label>Nombre (s).</label>
								<input id="nombre" class="form-control"  type="text" formControlName="nombre" name="nombre">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('nombre').hasError('required') && cliente.get('nombre').touched">
								  <a>Nombre requerido</a>
								</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario">
								<label>Apellido Paterno</label>
								<input id="apellido_p" class="form-control"  type="text" formControlName="apellido_p" name="apellido_p">

								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('apellido_p').hasError('required') && cliente.get('apellido_p').touched">
								  <a>El apellido paterno es requerido</a>
								  </div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario">
								<label>Apellido Materno</label>
								<input id="apellido_m" class="form-control"  type="text" formControlName="apellido_m" name="apellido_m">

							</div>

							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario">
								<label>Telefono</label>
								<input class="form-control" type="text"  formControlName="telefono"
								name="telefono">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('telefono').hasError('required') && cliente.get('telefono').touched">
								  <a>El telefono es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>RFC</label>
								<input class="form-control" type="text"  formControlName="rfc"
								name="rfc">

							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>E-Mail</label>
								<input class="form-control" type="text" formControlName="e_mail" name="e_mail" disabled>
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('e_mail').hasError('required') && cliente.get('e_mail').touched">
								  <a>El e-Mail es requerido</a>
								  </div>
								</div>
							</div>

						</div>
					<div >
					  <h1>Informacion de Envio</h1>
					</div>
					<div class="row">
							<div class="col-xs-12 col-sm-12 cls_margen_top_formulario" >
								<label>Calle</label>
								<input id="calle" class="form-control"  type="text" formControlName="calle" name="calle">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('calle').hasError('required') && cliente.get('calle').touched">
								  <a>La calle es requerida</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Numero Interior</label>
								<input type="text" name="numero_interior" class="form-control" formControlName="numero_interior">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('numero_interior').hasError('required') && cliente.get('numero_interior').touched">
								  <a>El numero es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Numero Exterior</label>
								<input type="text" name="numero_exterior" class="form-control" formControlName="numero_exterior">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('numero_exterior').hasError('required') && cliente.get('numero_exterior').touched">
								  <a>El numero es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>C.P.</label>
								<input id="codigo_postal" class="form-control"  type="text" formControlName="cp" name="cp">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('cp').hasError('required') && cliente.get('cp').touched">
								  <a>El codigo postal es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Municipio</label>
								<input type="text" class="form-control"  formControlName="municipio" name="municipio">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('municipio').hasError('required') && cliente.get('municipio').touched">
								  <a>El municipio es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Estado</label>
								<input type="text" class="form-control"  formControlName="estado" name="estado">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('estado').hasError('required') && cliente.get('estado').touched">
								  <a>El estado es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Pais</label>
								<input type="text" class="form-control"  formControlName="pais" name="pais">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('pais').hasError('required') && cliente.get('pais').touched">
								  <a>El pais es requerido</a>
								  </div>
								</div>
							</div>

							<div class="col-xs-12  cls_margen_top_formulario" >
								<label>Referencias de Domicilio</label>
								<input type="text" class="form-control" formControlName="referencia" name="referencia">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('referencia').hasError('required') && cliente.get('referencia').touched">
								  <a>Debe indicar las referencias de la direccion</a>
								  </div>
								</div>
							</div>
						</div>

						<div class="col-xs-12 cls_margen_top_formulario" style="text-align: center;" >
							<button class="btn btn-primary "   [disabled]="cliente.invalid" (click)="fn_actualiza_cliente()" >
								Guardar
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="col-xs-12" *ngIf="mostrar_cambio_contrasena">
				<div class="row">

					<form  [formGroup]="cambio_contrasena"  class="form-horizontal">
							<h1 >Cambio de Contraseña</h1>
								<div class="col-xs-4  cls_margen_top_formulario" >
									<label>Contraseña Actual</label>
									<input type="password" class="form-control" formControlName="psw_actual" name="psw_actual">
									<div
										class=" error"
										*ngIf="show_error_psw_actual">
										<a>Debe la contraseña actual</a>
									</div>
								</div>
								<div class="col-xs-4  cls_margen_top_formulario" >
									<label>Nueva Contraseña</label>
									<input type="password" class="form-control" formControlName="psw_nueva" name="psw_nueva">
									<div
										class=" error"
										*ngIf="show_error_psw">
										<a>Debe indicar la nueva contraseña</a>
									</div>
								</div>
								<div class="col-xs-4  cls_margen_top_formulario" >
									<label>Confirma Contraseña</label>
									<input type="password" class="form-control" formControlName="psw_nueva_conf" name="psw_nueva_conf">
									<div
										class=" error"
										*ngIf="show_error_psw_conf">
										<a>Debe indicar la nueva contraseña</a>
									</div>
								</div>

								<div class="col-xs-12 cls_margen_top_formulario" style="text-align: center;" >
									<div
										class=" error"
										*ngIf="show_error_actualiza">
										<a>{{msj}}</a>
									</div>
									<button class="btn btn-primary "  (click)="fn_actualiza_psw()">
										Guardar
									</button>
								</div>
					</form>
				</div>
			</div>



		</div>
	</div>
</div>









<div clasS="container" id="div_panel_control_movil" >
	<div class="row">

		<div class="row">
			<div class="col-xs-12">
				<a class="btn_panel_control" id="btn_ventas" (click)="fn_mostrar_ventas_2()" >
					Ventas
					<span *ngIf="mostrar_ventas"> -</span>
					<span *ngIf="!mostrar_ventas"> ˅</span>
				</a>
			</div>
		</div>


		<div *ngIf="mostrar_ventas" >
			<div class="cls_item_compras" *ngFor="let v of ventas">
				<div class="row">
					<div class="col-xs-8">
						<p>Estaus: Entregado</p>
					</div>
					<div class="col-xs-4">

						<button class="btn btn-primary btn-block">Seguir Envio</button>
					</div>
					<div class="col-xs-8">
						<p>Folio Venta: {{v.id_venta}}</p>
					</div>
					<div class="col-xs-4">
						<button class="btn btn-primary-default btn-block" (click)="fn_consulta_detalle_ventas(v.id_venta)">
							Detalle
						</button>

					</div>
				</div>
				<div class="row">
							<div class="col-xs-12">
								<p><span>Fecha Venta: </span>{{v.fecha | date:'dd-MM-yyyy'}}</p>
							</div>
							<div class="col-xs-10" style="text-align: right;">
									<div class="row">
										<div class="col-12" >
											<p>
												<span>Sub-Total</span>
											</p>
										</div>
										<div class="col-12" >
											<p>
												<span>Descuent</span>
											</p>
										</div>
										<div class="col-12" >
										<p><span>IVA</span>

											</p>
										</div>
										<div class="col-12" >
											<p><span>Total</span>

											</p>
										</div>
									</div>

							</div>

								<div class="col-xs-2" >
										<div class="row">
											<div class="col-xs-12">
												<p>
													{{v.sub_total}}
												</p>
											</div>
											<div class="col-xs-12">
												<p>
													{{v.descuento}}
												</p>
											</div>
											<div class="col-xs-12">
											<p>
													{{v.iva}}
												</p>
											</div>
											<div class="col-xs-12">
												<p>
													{{v.total}}
												</p>
											</div>
										</div>
								</div>

				</div>
			</div>
		</div>



		<div class="row" >
			<div class="col-xs-12">
				<a  class="btn_panel_control" (click)="fn_mostrar_cuenta_2()">
					Informacion de Envio
					<span *ngIf="mostrar_cuenta"> -</span>
					<span *ngIf="!mostrar_cuenta"> ˅</span>
				</a>
			</div>
		</div>

		<div  *ngIf="mostrar_cuenta">
			<div class="row">
				<form  [formGroup]="cliente"  class="form-horizontal">


					<div >
					  <h1>Informacion Personal</h1>
					</div>

							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario">
								<label>Nombre (s).</label>
								<input id="nombre" class="form-control"  type="text" formControlName="nombre" name="nombre">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('nombre').hasError('required') && cliente.get('nombre').touched">
								  <a>Nombre requerido</a>
								</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario">
								<label>Apellido Paterno</label>
								<input id="apellido_p" class="form-control"  type="text" formControlName="apellido_p" name="apellido_p">

								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('apellido_p').hasError('required') && cliente.get('apellido_p').touched">
								  <a>El apellido paterno es requerido</a>
								  </div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario">
								<label>Apellido Materno</label>
								<input id="apellido_m" class="form-control"  type="text" formControlName="apellido_m" name="apellido_m">

							</div>

							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario">
								<label>Telefono</label>
								<input class="form-control" type="text"  formControlName="telefono"
								name="telefono">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('telefono').hasError('required') && cliente.get('telefono').touched">
								  <a>El telefono es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>RFC</label>
								<input class="form-control" type="text"  formControlName="rfc"
								name="rfc">

							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>E-Mail</label>
								<input class="form-control" type="text" formControlName="e_mail" name="e_mail" disabled>
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('e_mail').hasError('required') && cliente.get('e_mail').touched">
								  <a>El e-Mail es requerido</a>
								  </div>
								</div>
							</div>

						<br><br>


							<div class="col-xs-12 col-sm-12 cls_margen_top_formulario" >
								<div >
								  <h1>Informacion de Envio</h1>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 cls_margen_top_formulario" >
								<label>Calle</label>
								<input id="calle" class="form-control"  type="text" formControlName="calle" name="calle">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('calle').hasError('required') && cliente.get('calle').touched">
								  <a>La calle es requerida</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Numero Interior</label>
								<input type="text" name="numero_interior" class="form-control" formControlName="numero_interior">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('numero_interior').hasError('required') && cliente.get('numero_interior').touched">
								  <a>El numero es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Numero Exterior</label>
								<input type="text" name="numero_exterior" class="form-control" formControlName="numero_exterior">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('numero_exterior').hasError('required') && cliente.get('numero_exterior').touched">
								  <a>El numero es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>C.P.</label>
								<input id="codigo_postal" class="form-control"  type="text" formControlName="cp" name="cp">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('cp').hasError('required') && cliente.get('cp').touched">
								  <a>El codigo postal es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Municipio</label>
								<input type="text" class="form-control"  formControlName="municipio" name="municipio">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('municipio').hasError('required') && cliente.get('municipio').touched">
								  <a>El municipio es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Estado</label>
								<input type="text" class="form-control"  formControlName="estado" name="estado">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('estado').hasError('required') && cliente.get('estado').touched">
								  <a>El estado es requerido</a>
								  </div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 cls_margen_top_formulario" >
								<label>Pais</label>
								<input type="text" class="form-control"  formControlName="pais" name="pais">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('pais').hasError('required') && cliente.get('pais').touched">
								  <a>El pais es requerido</a>
								  </div>
								</div>
							</div>

							<div class="col-xs-12  cls_margen_top_formulario" >
								<label>Referencias de Domicilio</label>
								<input type="text" class="form-control" formControlName="referencia" name="referencia">
								<div class="row">
								<div
								  class="col-xs-12 error"
								  *ngIf="cliente.get('referencia').hasError('required') && cliente.get('referencia').touched">
								  <a>Debe indicar las referencias de la direccion</a>
								  </div>
								</div>
							</div>


						<div class="col-xs-12 cls_margen_top_formulario" style="text-align: center;" >
							<button class="btn btn-primary "   [disabled]="cliente.invalid" (click)="fn_actualiza_cliente()" >
								Guardar
							</button>
						</div>


				</form>
			</div>
		</div>




		<div class="row" >
			<div class="col-xs-12">
				<a  class="btn_panel_control" (click)="fn_mostrar_cambio_contrasena_2()">
					Cambio Contraseña
					<span *ngIf="mostrar_cambio_contrasena"> -</span>
					<span *ngIf="!mostrar_cambio_contrasena"> ˅</span>
				</a>
			</div>
		</div>

			<div class="col-xs-12" *ngIf="mostrar_cambio_contrasena">
					<div class="row">
						<form  [formGroup]="cambio_contrasena"  class="form-horizontal">
								<div class="col-xs-4  cls_margen_top_formulario" >
									<label>Contraseña Actual</label>
									<input type="password" class="form-control" formControlName="psw_actual" name="psw_actual">
									<div
										class=" error"
										*ngIf="show_error_psw_actual">
										<a>Debe la contraseña actual</a>
									</div>
								</div>
								<div class="col-xs-4  cls_margen_top_formulario" >
									<label>Nueva Contraseña</label>
									<input type="password" class="form-control" formControlName="psw_nueva" name="psw_nueva">
									<div
										class=" error"
										*ngIf="show_error_psw">
																			<a>Debe indicar la nueva contraseña</a>
									</div>
								</div>
								<div class="col-xs-4  cls_margen_top_formulario" >
									<label>Confirma Contraseña</label>
									<input type="password" class="form-control" formControlName="psw_nueva_conf" name="psw_nueva_conf">
									<div
										class=" error"
										*ngIf="show_error_psw_conf">

										<a>Debe indicar la nueva contraseña</a>
									</div>
								</div>

								<div class="col-xs-12 cls_margen_top_formulario" style="text-align: center;" >
									<div
										class=" error"
										*ngIf="show_error_actualiza">
										<a>{{msj}}</a>
									</div>
									<button class="btn btn-primary "  (click)="fn_actualiza_psw()">
										Guardar
									</button>
								</div>
						</form>
					</div>
			</div>
	</div>
</div>
<div *ngIf="mostrar_detalle" class="cls_div_hover" (click)="fn_cerrar_detalle()">
</div>



<div class="container" id="form_detalle_venta" *ngIf="mostrar_detalle" >
		<div style="height:30%">
				<a id="titulo_carrito">Detalle de Venta.</a>
		</div>
		<hr>
		<div class="row">
			<div  class="cls_item_carrito col-xs-12" *ngFor="let prod of detalle_venta " >

				<div class="col-xs-3">
					<img src="../assets/img/productos/{{prod.nom_img}}_1.png" style="width:150%">
				</div>
				<div clasS="col-xs-6">
					<div class="col-xs-12" style="text-align:left;">
							<a class="cls_marca_carrito">{{prod.talla}}</a>
					</div>
					<div clasS="col-xs-12" style="text-align:left;">
						<a class="cls_nombre_producto" (click)="fn_detalle_prod(prod.id_producto)" >{{prod.nombre}} </a>
					</div>
					<div clasS="col-xs-12">
						<br>
						<a class="cls_cantidad_prod">cant:<span>{{prod.cantidad}}</span></a>
					</div>
				</div>
				<div class="col-xs-3">
					<a style="display:block;text-align:right" (click)="eliminaProductoCarrito(prod.id)">X</a>
					<br>
					<a id="precio_prod">${{prod.precio_unitario}}</a>
				</div>
			</div>
		</div>
	  <br>
		<br>
</div>







	<ul class="loading" *ngIf="cargando">
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	</ul>

<div class="clsfondologin"  *ngIf="cargando"></div>



<div *ngIf="mostrar_msj"  class="cls_mensaje_temporal" >
		<a  >
		{{msj_temporal}}
		</a>
</div>
