	#div_cont_buscar_encabezado
	{
		border:2px solid black;
		width:100%;		
		padding:2px;
		height:25px;
		
	}
	
	
	
	#btn_buscar_encabezado
	{
		color:black;	
		font-size:12px;
		
		background-color:white;
		border-left:2px solid black;
		display:inline-block;
		width:25%;
		text-align:center;
		color:black;
		font-weight:bold;
		text-decoration:none;
		color:gray;
		
		
	}
	#btn_buscar_encabezado:hover
	{
		background-color:white;
		
	}


	
	#txt_busqueda
	{
		
		display:inline-block;
		
		margin-top:0px;
		outline: none;				
		font-size:12px;
		padding-top:2px;
		padding-bottom:2px;
		color:black;
		width:70%;
		border:0px;
		height:80%;
		color:gray;
	}



	@media  screen  and (min-width:414px)
	{
		
	}


	@media  screen  and (min-width:736px)
	{
		
		#btn_buscar_encabezado
		{
			width:13%;
			
		}   
		#txt_busqueda
		{
			width:85%;
		}
	}


	@media  screen  and (min-width:768px)
	{
		#btn_buscar_encabezado
		{
			
			font-size:15px;
			height:10px;			
			border-left:2px solid gray;
			text-align:center;
			padding-top:2px;
			padding-bottom:5px;
			
			width:25%;
			
		} 
		  
		#txt_busqueda
		{
			width:70%;
			height:10px;
			padding-top:0px;
			padding-bottom:0px;
			
			float:left;			
			height:90%;
			margin-top:opx;
			font-size:15px;
			
		}
		#div_cont_buscar_encabezado
		{			
			border:2px solid gray;	
			height:20px;
			
		}
	}
	@media screen and (min-width:1024px)
	{
		#btn_buscar_encabezado
		{
			width:20%;
			
			padding:0px;
		}
		#btn_buscar_encabezado
		{
			
			font-size:15px;
			height:10px;			
			border-left:2px solid gray;
			text-align:center;
			padding-top:0px;
			padding-bottom:0px;
			padding-left:0px;
			padding-right:0px;
			width:28%;
			height:95%;
			display:inline-block;
			
			
		} 
	}


