<!--<div id="div_cont_buscar_encabezado" >
	<input type="text"  [(ngModel)]="txt_busqueda" id="txt_busqueda" >
	<a routerLink="./de_paso_busqueda/1/2/{{txt_busqueda}}"  id="btn_buscar_encabezado" >BUSCAR</a>
</div>
-->

	<div class="input-group">
		<input type="text" class="form-control" [(ngModel)]="txt_busqueda" id="txt_busqueda" />
		<span class="input-group-btn">
			<button  routerLink="./de_paso_busqueda/1/2/{{txt_busqueda}}" id="btn_buscar_encabezado"  class="btn btn-default" type="button">Buscar</button>
		</span>
    </div>