
#txt_busqueda
	{
		width:50%; 
		border:2px solid black;
		height:80%;
		margin-top:0px;
	}

/*Solo para tablets y cel*/
@media( min-width: 567px)
{
	
	#txt_busqueda
	{
		width:65%; 
		border:2px solid black;
		height:80%;
		margin-top:0px;
	}

}