
<div *ngIf="mostrar" class="cls_div_hover" (click)="fn_seguir_comprando()">

</div>

<div class="container" id="form_carrito_compras" *ngIf="mostrar">
	<div class="page-header">
		<h1>Carrito Compras</h1>
		<!--<a id="tiempo_carrito">Caduca en <span>25:28:34 min</span></a>

		<hr>
		<a id="entrega_estimada">Entrega Estimada: <span>del 2019-08-01 al 2019-08-01</span></a>
			-->
	</div>
		<hr>

	<div class="row" >
		<div *ngIf="!hay_prod">
				No has agregado productos al carrito.
		</div>
		<div  class="cls_item_carrito col-xs-12" *ngFor="let prod of productos " >

			<div class="col-xs-3">
				<img src="../assets/img/productos/{{prod.nom_img}}_1.png" style="width:150%">
			</div>
			<div clasS="col-xs-6">
				<div class="col-xs-12" style="text-align:left;">
						<a class="cls_marca_carrito">{{prod.marca}}</a>
				</div>
				<div clasS="col-xs-12" style="text-align:left;">
					<a class="cls_nombre_producto" (click)="fn_detalle_prod(prod.id_producto)" >{{prod.nombre}} </a>
				</div>
				<div clasS="col-xs-12">
					<br>
					<a class="cls_cantidad_prod">cant:<span>{{prod.cantidad}}</span></a>
				</div>
			</div>
			<div class="col-xs-3">
				<a style="display:block;text-align:right" (click)="eliminaProductoCarrito(prod.id)">X</a>
				<br>
				<a id="precio_prod">${{prod.precio}}</a>
			</div>
		</div>

		<div class="cls_item_carrito col-xs-12">
			<hr>

				<div class="col-xs-6" style="text-align:right">Costo Envio:  </div>
				<div class="col-xs-6" style="text-align:right">$0.00</div>
			<hr>
				<div class="col-xs-6" style="text-align:right">Total:  </div>
				<div class="col-xs-6" style="text-align:right">${{total}}</div>
		</div>
		<div class="cls_item_carrito col-xs-12">
			<div clasS="col-xs-6" style="text-align:center"><button clasS="btn btn-default" (click)="fn_seguir_comprando()">Seguir Comprando</button></div>
			<div *ngIf="btn_terminar_venta" clasS="col-xs-6" style="text-align:center"><button clasS="btn btn-primary " (click)="fn_terminar_compra()" [disabled]="!cont_productos">Terminar Compra</button></div>

			<div *ngIf="!btn_terminar_venta" clasS="col-xs-6" style="text-align:center">
				<button clasS="btn btn-primary " (click)="fn_iniciar_session()">Iniciar Session</button>
				<div class="col-xs-12">
						<a>
							Para comprar debes iniciar session
						</a>
				</div>

			</div>
		</div>
	</div>
</div>
