


	<div class="container" >
		<div class="row">
			<div class="col-xs-12 col-sm-6"   >
				<br>
				<img style="width: 300px; float: left; " src="../assets/img/logo.png">

			</div>
			<div class="col-xs-12 col-sm-6" style="float: right;" >
				<div class="row">
						<div class="col-xs-12">
								<nav class="navbar navbar-default" style="background-color:white;border:0px;">
									<div class="container-fluid">
										<ul class="nav navbar-nav navbar-right" id="menu_configuracion">

											<li>
												<a  id="btn_muestra_carrito" (click)="fn_muestra_carrito();">
													<span class="glyphicon glyphicon-shopping-cart">
													</span>

														<a style="color:red; font-weight: bold;">
															{{cont_prod}}

														</a>

												</a>
											</li>
											<li  *ngIf="logueado" id="btn_micuenta" >
												<a routerLink="./cliente/panel-control">
													<span class="glyphicon glyphicon-cog"></span> Mi Cuenta
												</a>
											</li>
											<li  *ngIf="logueado" id="btn_micuenta" >
												<a (click)="fn_cerrar_session()" routerLink="./">
													<span class="glyphicon glyphicon-off">
													</span> Salir
												</a>
											</li>
											<li  *ngIf="!logueado" >
												<a id="btn_login">
													<span class="glyphicon glyphicon-log-in"></span> Login
												</a>
											</li>
										</ul>
									</div>
								</nav>

							</div>
					<div class="col-xs-12">
						<div class="row">
								<div class="col-xs-12 col-sm-10 col-md-8" style="float:right">
										<app-busqueda>
										</app-busqueda>
								</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>

	<br>

	<br>
	<div class="container">

	  <ul class="nav nav-tabs" role="tablist">
		<li ><a routerLink="./home" style="color: black;  font-size: 17px;">Home</a></li>
		<li ><a href="#"  style="color: black;  font-size: 17px;">Dama</a></li>
		<li><a routerLink="./de_paso_busqueda/1/1/1"  style="color: black;  font-size: 17px;">Niña</a></li>
		<!--<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		  Tutorials <span class="caret"></span></a>
		  <ul class="dropdown-menu" role="menu">
			<li><a href="#">HTML</a></li>
			<li><a href="#">CSS</a></li>
			<li><a href="#">JavaScript</a></li>
		  </ul>
		</li>-->

	  </ul>

	</div>
	<br>
<app-carrito-compras></app-carrito-compras>
<app-login></app-login>
<app-registra-clientes></app-registra-clientes>
<router-outlet>

</router-outlet>

<div id="barra_antes_pie">

</div>
<div class="container" id="div_subscribete" >
	<div class="col-xs-12 col-sm-5" style="margin-bottom:20px;">
		<p>
			Subscribete y obten notificaciones de nuestras novedades.
		</p>
	</div>
	<div class="col-xs-12 col-sm-7">
		<div class="row">
			<div class="col-xs-8" >
				<input type="text"  id="txt_subscribete" [(ngModel)]="e_mail" >
			</div>
			<div class="col-xs-4" >
				<button class="btn btn-primary"  id="btn_subscribete" (click)="fn_guarda_e_mail_notificacion()">Enviar</button>
			</div>


		</div>
	</div>
</div>
<div class="container ">
	<div class="row">
		<div class="col-xs-12 col-sm-4 cls_bloque_pie">

					<legend>Envios</legend>
					<div class="pure-g">
						<div class="pure-u-1 cls_item ">
							<p href="#">Costo de envio	</p>
						</div>
						<div class="pure-u-1 cls_item">
								<p>Formas de Envio	</p>
						</div>
						<div class="pure-u-1 cls_item">
								<p >Preguntas frecuentes sobre envio</p>
						</div>
					</div>
		</div>
	<div class="col-xs-12 col-sm-4 cls_bloque_pie">
		<div class="pure-form">
			<fieldset>
				<legend>Envios</legend>
				<div class="pure-g">
					<div class="pure-u-1 cls_item ">
						<p >Costo de envio	</p>
					</div>
					<div class="pure-u-1 cls_item">
							<p >Formas de Envio	</p>
					</div>
					<div class="pure-u-1 cls_item">
							<p >Preguntas frecuentes sobre envio</p>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 cls_bloque_pie">
		<div class="pure-form">
			<fieldset>
				<legend>Envios</legend>
				<div class="pure-g">
					<div class="pure-u-1 cls_item ">
						<p >Costo de envio	</p>
					</div>
					<div class="pure-u-1 cls_item">
							<p >Formas de Envio	</p>
					</div>
					<div class="pure-u-1 cls_item">
							<p >Preguntas frecuentes sobre envio</p>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	</div>
</div>




<div *ngIf="mostrar" class="cls_div_hover">

</div>


<div *ngIf="mostrar" class="cls_div_msj_hover" >

	<h1>{{msj}}</h1>
	<button class="pure-button pure-button-primary" (click)="fn_aceptar_msj()">Aceptar</button>

</div>
