/*css del menu principal*/
#baner-superior
{
	display:none;
}
.cls_img_menu
{
	width:10px;
}
#menu_encabezado
{
    position:fixed;
    top:0;
    left:-70%;				
	height:100%;
    width:70%;
    z-index:21;
	background-color:#F0F8FF;
    padding-bottom:20px;
}
#menu_encabezado #menu_encabezado2
{
    margin-left:0;						
    background-color:#F0F8FF;
	margin-top:10px;
    
    
}
.cls_btn_cerrar
{
	float:right;
}
.cls_btn_cerrar >a
{
    border:1px solid white;
    
}

.clsBotonMenu
{			
    text-align:left;			    
    padding-top:10px;
    
}
.clsBotonMenu a
{
 font-family: 'Nunito', sans-serif;
	padding-bottom:10px;	
	color:black;
	letter-spacing:2px;
    text-decoration:none;    
    padding-left:5%;
        
}
.clsBotonMenu a:hover
{
	border-bottom:1px solid black;
	font-weight:bold;

}

.clsBotonMenu:hover
{		    
    color:#c0c0c0;		    
}
.clsBotonMenu:hover a
{
    color:black;
}



#encabezado_menu
{
    border-bottom:1px solid black;
    border-bottom:1px solid #c0c0c0;		
}


#control_menu_disp_movil
{
    
    height:25px;
	margin-left:20px;
	padding:2px;
    
}
#control_menu_disp_movil >div
{
    width:26px;
    height:26px;
    border:2px solid black;
    
}
#control_menu_disp_movil >div>div
{
    width:20px;
    margin-left:3px;
    height:2px;
    margin-top:5px;
    background-color:black;
}

#barra_antes_pie
{
    width: 90%;
    height: 30px;
    margin-left: 5%;
    
    opacity: 0.3;
    margin-top:30px;
    margin-bottom: 30px;
}
.cls_pie_pagina
{
    max-width: 90%;
    margin-left:5%;
	margin-bottom:20px;
	
}
#div_subscribete
{
	width:100%;
	margin-bottom:20px;
	background-color:#F0F8FF;
	padding-top:30px;
	padding-bottom:30px;

	font-family: 'Nunito', sans-serif;
	font-size:15px;
	text-align:center;
}
#div_subscribete a
{
	font-family: 'Nunito', sans-serif;
	font-size:20px;
}
#btn_subscribete
{
	font-family: 'Nunito', sans-serif;
	width:90%;
	margin-right:5%;
	border:1px solid black;
}
#txt_subscribete
{
	font-family: 'Nunito', sans-serif;
	background-color:white;
	border:1px solid black;
	width:90%;
	margin-left:5%;
	
}
.cls_pie_pagina legend
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:black;
    max-width: 90%;
    margin-left: 5%;
}
.cls_pie_pagina .cls_item
{
	max-width:80%;
	margin-left:30px;	
}
.cls_pie_pagina .cls_item a
{
	font-family: 'Nunito', sans-serif;
	font-size:15px;
	color:black;
	text-decoration:none;
}
#cerrar_menu_encabezado
    {
        width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:20;		
		display:none;
		background-color:black;
		opacity:0.7;
    }
	#div_encabezado_2
	{
		margin-bottom:30px;
	}


/*css del menu principal*/



/*************************************************************************************************/

	
	
	.cls_links_encabezado
	{
		font-size:10px;
		text-decoration:none;
		color:gray;
		
		font-weight:bold;
	}
	.cls_links_encabezado:hover
	{
		color:blue;
		font-weight:bold;
	}
	#btn_muestra_carrito> img
	{
		width:30px;
		height:30px;
		margin-right:20px;
	}
	#link_enca_1
	{
		text-align:right;
	}
	#link_enca_2
	{
		text-align:right;
	}
	#btn_login
	{
		position:relative;
		z-index:30;
	}
	#btn_login>div
	{
		position:absolute;
		background-color:white;
		box-shadow:2px 2px 2px black;
		width:200px;
		text-align:left;
		display:none;		
		z-index:30;
	}
	#btn_login:hover>div
	{
		display:block;		
	}
	#btn_login>div>a
	{
		padding-top:10px;
		padding-bottom:10px;
		display:block;
	}
	#btn_login>div>a:hover
	{
		background-color:white;
		color:black;
		
	}
    /*css de encabezado logo*/
    /*************************************************************************************************/

    /****************************************************************************************************/
    	/*css de encabezado logo*/
	#logo_encabezado
	{
		width:100%;
		background-color:#F0F8FF;
	}
	
	.cls_links_encabezado
	{
		font-size:10px;
		text-decoration:none;
		color:gray;		
		font-weight:bold;
	}
	.cls_links_encabezado:hover
	{
		color:blue;
		font-weight:bold;
	}
	.cls_links_encabezado_img
	{
		width:20px;
		height:20px;
	}
	#link_enca_1
	{
		text-align:right;
	}
	#link_enca_2
	{
		text-align:right;
	}
	
	#div_btn_carrito
	{
		text-align:right;		
	}
	#div_btn_busqueda
	{
		text-align:right;		
	}
	
	.cls_div_logo,.cls_div_logo2
	{
		/*text-align:center;		
		margin-top:-10px;
		padding-bottom:10px;
		*/
		
		font-family: 'Lobster', cursive;
		font-weight:bold;
		font-size:40px;	
		letter-spacing:3px;				
		margin-top:-25px;
		
	}	
    .cls_div_logo,.cls_div_logo2 a
    {
        text-decoration:none;
        color:black;
		
		
    }
	.cls_div_logo,.cls_div_logo2 a >span
	{
			display:inline-block;
	}
	.cls_div_logo2
	{
		
	}
	.cls_div_logo
	{
		margin-top:10px;
		margin-bottom:10px;
		display:block;
		text-align:center;
		
	}
	
	.cls_div_logo >a
	{
		text-decoration:none;
		color:black;
	}
	
	@media  screen  and (min-width:414px)
	{
		
		.cls_div_logo a >span
		{
			display:inline-block;
		}
		
	}


	@media  screen  and (min-width:736px)
	{
		/*css de encabezado logo*/
	#logo_encabezado
	{
		background-color:white;
		width:90%;
		margin-left:5%;
	
	}
		#div_subscribete
		{
			width:90%;
			margin-left:5%;	
		}
		#baner-superior
		{
			display:block;
			width:100%;
			height:40px;
			background-color:black;
			
		}
		#baner-superior>h1
		{
			color:white;
			text-align:center;
		}
	

		
		#baner-superior>h1> span
		{
			color:red;
		}
	}
    
	


	@media  screen  and (min-width:768px)
	{
    #menu_encabezado
    {
        position:static;
        height:auto;        
        width:100%;
    }
    #menu_encabezado #menu_encabezado2
    {
        width:90%;
        margin-left:5%;				
        color:white;
        
    }
    #cerrar_menu_encabezado
    {
        display:none;
    }
    #encabezado_menu
    {
        display:none;
        
    }
    .clsBotonMenu
    {
        text-align:center;
    }
    .clsBotonMenu a
    {
        
        text-decoration:none;
        
		
        padding-left:10px;
        padding-right:10px;
        
    }
    .clsBotonMenu a span
    {
        display:none;
    }
    .clsBotonMenu a:hover
    {		
        
        color:#c0c0c0;		
        color:black;
    }
    #control_menu_disp_movil
    {
        display:none;
    }
	
	
	#div_btn_carrito
	{
		text-align:right;		
	}
	#div_btn_busqueda
	{
		text-align:left;		
	}
	
	#div_encabezado_2
	{
		margin-top:15px;
	}
	.cls_div_logo
	{
		display:block;		
		font-weight:bold;
		text-align:left;
		margin-left:0px;
		
	}
	
		.cls_div_logo2
		{
			display:none;
		}
		
	.cls_div_logo >a
	{
		color:black;
	}
	
	#logo_encabezado
	{
		margin-top:2px;
	}
	#btn_muestra_carrito> img
	{
		width:25px;
		height:25px;
	}
}
	
	
	
    /*css de encabezado logo*/
    

	
	