


	<div class="container" >
		<div class="row">
			<div class="col-xs-12" style="text-align: center;"   >
				<br>
				<a routerLink="./home">
					<img id="img_logo" src="../assets/img/logo.png">
				</a>
			</div>
		</div>
		<br>
						<nav class="navbar navbar-default" >
							<div class="container-fluid" >
								<ul class="nav navbar-nav navbar-right"  style="text-align:center;">



									<li  *ngIf="logueado" id="btn_micuenta" style="display:inline-block" >
										<a routerLink="./cliente/panel-control" class="cls_btn_menu">
											<span class="glyphicon glyphicon-user" ></span>
											<span class="cls_desc_boton"> Usuario</span>
										</a>
									</li>




									<li  *ngIf="logueado" id="btn_micuenta"  style="display:inline-block">
										<a (click)="fn_cerrar_session()"  class="cls_btn_menu">
											<span class="glyphicon glyphicon-off">
											</span>
											<span class="cls_desc_boton"> Cerrar Session</span>
										</a>
									</li>
									<li  *ngIf="!logueado"  style="display:inline-block">
										<a id="btn_login" (click)="fn_muestra_login()" class="cls_btn_menu">
											<span class="glyphicon glyphicon-log-in"></span>

											<span class="cls_desc_boton"> Entra a tu Cuenta</span>
										</a>
									</li>
									<li style="display:inline-block">
										<a  id="btn_muestra_buscar" (click)="fn_mostrar_buscar();"  class="cls_btn_menu">
											<span class="glyphicon glyphicon-search">
											</span>
											<span class="cls_desc_boton"> Buscar</span>
										</a>
									</li>
									<li style="display:inline-block">
										<a  id="btn_muestra_buscar" (click)="fn_menu_navegacion()"  class="cls_btn_menu">
											<span class="glyphicon glyphicon-th-large">
											</span>

											<span class="cls_desc_boton"> Categorias</span>
										</a>
									</li>
									<li style="display:inline-block">
										<a  id="btn_muestra_carrito" (click)="fn_muestra_carrito();"  class="cls_btn_menu" class="cls_carrito_compras">
											<span class="glyphicon glyphicon-shopping-cart">
											</span>
												<a style="color:red; ">
													{{cont_prod}}
												</a>
										</a>
									</li>
								</ul>
							</div>
						</nav>
		<div class="row"  *ngIf="mostrar_buscar">
			<div class="col-xs-12 col-sm-6 col-md-4" style="float:right" >
									<a style="display:block;text-align:right" (click)="fn_mostrar_buscar();">x</a>
								<app-busqueda>
								</app-busqueda>
			</div>

		</div>
		<br>
	</div>

<!--
		<br>

	<br>
	<div class="container">

	  <ul class="nav nav-tabs" role="tablist">
		<li ><a routerLink="./home" style="color: black;  font-size: 17px;">Home</a></li>
		<li ><a href="#"  style="color: black;  font-size: 17px;">Dama</a></li>
		<li><a routerLink="./de_paso_busqueda/1/1/1"  style="color: black;  font-size: 17px;">Niña</a></li>


	  </ul>

	</div>
	<br>
	-->
<app-carrito-compras></app-carrito-compras>
<app-login></app-login>

<app-registra-clientes></app-registra-clientes>
<app-recupera-psw></app-recupera-psw>
<router-outlet>

</router-outlet>

<div id="barra_antes_pie">

</div>

<div class="container ">
	<div class="row">
		<div class="col-xs-12 col-sm-4 cls_bloque_pie">

					<legend>Envios</legend>
					<div class="pure-g">
						<div class="pure-u-1 cls_item ">
							<p href="#">Costo de envio	</p>
						</div>
						<div class="pure-u-1 cls_item">
								<p>Formas de Envio	</p>
						</div>
						<div class="pure-u-1 cls_item">
								<p >Preguntas frecuentes sobre envio</p>
						</div>
					</div>
		</div>
	<div class="col-xs-12 col-sm-4 cls_bloque_pie">
		<div class="pure-form">
			<fieldset>
				<legend>Envios</legend>
				<div class="pure-g">
					<div class="pure-u-1 cls_item ">
						<p >Costo de envio	</p>
					</div>
					<div class="pure-u-1 cls_item">
							<p >Formas de Envio	</p>
					</div>
					<div class="pure-u-1 cls_item">
							<p >Preguntas frecuentes sobre envio</p>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 cls_bloque_pie">
		<div class="pure-form">
			<fieldset>
				<legend>Envios</legend>
				<div class="pure-g">
					<div class="pure-u-1 cls_item ">
						<p >Costo de envio	</p>
					</div>
					<div class="pure-u-1 cls_item">
							<p >Formas de Envio	</p>
					</div>
					<div class="pure-u-1 cls_item">
							<p >Preguntas frecuentes sobre envio</p>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	</div>
</div>


<div class="cls_div_hover" *ngIf="mostrar_menu_nav" (click)="fn_menu_navegacion()">
</div>

		<div class="container" id="menu_navegacion" *ngIf="mostrar_menu_nav">
			<hr>
			<div class="row">

					<div class="col-xs-10">
							<a style="font-size:20px;display:block;text-align:center;text-decoration:none;color:black;">Categorias</a>
					</div>
					<div class="col-xs-1">
								<a style="font-size:20px;display:block;text-align:center;text-decoration:none;color:black;" (click)="fn_menu_navegacion()">
									X
								</a>
					</div>
			</div>
			<hr>
			<br>
			<div class="col-xs-10">
					<a style="font-size:15px;font-weight:bold;display:block;text-align:left;text-decoration:none;color:black;">Dama</a>
			</div>
			<hr>
			<nav class="navbar navbar-default" >
				<div class="container-fluid" >
					<ul class="nav navbar-nav"   style="text-align:center;">



						<li  *ngIf="logueado" id="btn_micuenta" style="display:inline-block" >
							<a (click)="fn_menu_navegacion()" routerLink="./de_paso_busqueda/1/1/1" class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Blusas</span>
							</a>
						</li>




						<li  *ngIf="logueado" id="btn_micuenta"  style="display:inline-block">
							<a   class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Jeans</span>
							</a>
						</li>
						<li  *ngIf="!logueado"  style="display:inline-block">
							<a id="btn_login"  class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>

								<span class="cls_desc_boton">Bolsas</span>
							</a>
						</li>
						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"   class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Carteras</span>
							</a>
						</li>

						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"  class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Cangureras</span>
							</a>
						</li>
						<li style="display:inline-block">
							<a  id="btn_muestra_buscar" class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Relojes</span>
							</a>
						</li>

						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"  class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Bellesa</span>
							</a>
						</li>

						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"   class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Otros</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<br>
			<div class="col-xs-10">
					<a style="font-size:15px;font-weight:bold;display:block;text-align:left;text-decoration:none;color:black;">Dama</a>
			</div>
			<hr>
			<nav class="navbar navbar-default" >
				<div class="container-fluid" >
					<ul class="nav navbar-nav"   style="text-align:center;">
						<li  *ngIf="logueado" id="btn_micuenta" style="display:inline-block" >
							<a (click)="fn_menu_navegacion()" routerLink="./de_paso_busqueda/1/1/1" class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Blusas</span>
							</a>
						</li>




						<li  *ngIf="logueado" id="btn_micuenta"  style="display:inline-block">
							<a   class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Jeans</span>
							</a>
						</li>
						<li  *ngIf="!logueado"  style="display:inline-block">
							<a id="btn_login"  class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Bolsas</span>
							</a>
						</li>
						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"   class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Carteras</span>
							</a>
						</li>

						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"  class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Cangureras</span>
							</a>
						</li>
						<li style="display:inline-block">
							<a  id="btn_muestra_buscar" class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Relojes</span>
							</a>
						</li>

						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"  class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Bellesa</span>
							</a>
						</li>

						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"   class="cls_btn_menu">
								<span class="glyphicon" >
										<img id="img_logo" src="../assets/img/logo_peque.png" style="width:20px;">
								</span>
								<span class="cls_desc_boton">Otros</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<br>
			<div class="col-xs-10">
					<a style="font-size:15px;font-weight:bold;display:block;text-align:left;text-decoration:none;color:black;">Dama</a>
			</div>
			<hr>
			<nav class="navbar navbar-default" >
				<div class="container-fluid" >
					<ul class="nav navbar-nav"   style="text-align:center;">



						<li  *ngIf="logueado" id="btn_micuenta" style="display:inline-block" >
							<a (click)="fn_menu_navegacion()" routerLink="./de_paso_busqueda/1/1/1" class="cls_btn_menu">
								<span class="glyphicon glyphicon-tags" ></span>
								<span class="cls_desc_boton">Blusas</span>
							</a>
						</li>




						<li  *ngIf="logueado" id="btn_micuenta"  style="display:inline-block">
							<a   class="cls_btn_menu">
								<span class="glyphicon glyphicon-tags">
								</span>
								<span class="cls_desc_boton">Jeans</span>
							</a>
						</li>
						<li  *ngIf="!logueado"  style="display:inline-block">
							<a id="btn_login"  class="cls_btn_menu">
								<span class="glyphicon glyphicon-tags"></span>

								<span class="cls_desc_boton">Bolsas</span>
							</a>
						</li>
						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"   class="cls_btn_menu">
								<span class="glyphicon glyphicon-tags">
								</span>
								<span class="cls_desc_boton">Carteras</span>
							</a>
						</li>

						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"  class="cls_btn_menu">
								<span class="glyphicon glyphicon-tags">
								</span>
								<span class="cls_desc_boton">Cangureras</span>
							</a>
						</li>
						<li style="display:inline-block">
							<a  id="btn_muestra_buscar" class="cls_btn_menu">
								<span class="glyphicon glyphicon-tags">
								</span>
								<span class="cls_desc_boton">Relojes</span>
							</a>
						</li>

						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"  class="cls_btn_menu">
								<span class="glyphicon glyphicon-tags">
								</span>
								<span class="cls_desc_boton">Bellesa</span>
							</a>
						</li>

						<li style="display:inline-block">
							<a  id="btn_muestra_buscar"   class="cls_btn_menu">
								<span class="glyphicon glyphicon-tags">
								</span>
								<span class="cls_desc_boton">Otros</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<!--	<hr>
				<div class="row">

						<div class="col-xs-10">
								<a style="font-size:20px;display:block;text-align:center;text-decoration:none;color:white;">Categorias</a>
						</div>
						<div class="col-xs-1">
									<a style="font-size:20px;display:block;text-align:center;text-decoration:none;color:white;" (click)="fn_menu_navegacion()">
										X
									</a>
						</div>
				</div>
				<hr>
				<div class="row">
							<div clasS="col-xs-12">
								<a style="display:block;font-size:20px; color:white;" (click)="fn_menu_navegacion()" routerLink="./home" >
										Home
								</a>
								<br>
									<a style="display:block;font-size:20px; color:white;" (click)="fn_menu_navegacion()" routerLink="./de_paso_busqueda/1/1/1" >
										Dama >
									</a>
									<br>
									<a style="display:block;font-size:20px; color:white;" (click)="fn_menu_navegacion()">
										Caballero >
									</a>
									<br>
									<a style="display:block;font-size:20px; color:white;" (click)="fn_menu_navegacion()">
										Niño >
									</a>
									<br>
									<a style="display:block;font-size:20px; color:white;" (click)="fn_menu_navegacion()">
										Niña >
									</a>
							</div>
				</div>
				-->
		</div>


<div *ngIf="mostrar" class="cls_div_hover">

</div>


<div *ngIf="mostrar" class="cls_div_msj_hover" >

	<h1>{{msj}}</h1>
	<button class="pure-button pure-button-primary" (click)="fn_aceptar_msj()">Aceptar</button>

</div>
	<div *ngIf="mostrar_confirma_salir" id="div_hover_confirma_salir" class=" cls_div_hover" (click)="fn_continar_session_abierta()">
	</div>

			<div *ngIf="mostrar_confirma_salir" id="div_confirma_salir"  class="container">

				<div class="page-header">
								<h1 style="text-align:center;">Deseas Salir?</h1>
				</div>
				<div class="row">
					<div class="col-xs-6">
							<button class="btn btn-default btn-block " (click)="fn_confirma_cerrar_session()">
									Si
							</button>
					</div>
					<div class="col-xs-6">
							<button class="btn btn-primary  btn-block " (click)="fn_continar_session_abierta()">
									No
							</button>
					</div>
				</div>
			</div>

			<div id="btn_muesstra_reg_notificaciones" class="container" *ngIf="!muestra_reg_notif">
				<nav class="navbar navbar-default" style="display:inline-block;">
					<div class="container-fluid" >
						<ul class="nav navbar-nav"   style="text-align:center;">



							<li  *ngIf="logueado" id="btn_micuenta" style="display:inline-block" >
								<a class="cls_btn_menu" (click)="fn_muestra_reg_notificaciones()">
									<span class="glyphicon" >
											<img src="../assets/img/img_reg_notif.png" style="width:20px;">
									</span>
									<span class="cls_desc_boton"> Recibe Notificaciones</span>
								</a>
							</li>
							</ul>
						</div>
						</nav>
			</div>

			<div id="reg_notificaciones_emergente"  class="container" *ngIf="muestra_reg_notif">
					<div class="row">
							<div class="col-xs-12">
								<a style="float:right; color:black;font-size:15px;font-weight:bold;margin-top:10px;" (click)="fn_oculta_reg_emergente()">
										x
								</a>
							</div>
					</div>
					<div class="row">
							<div class="col-xs-12">
									<p style="font-size:25px; text-align:center;">
											Enterate antes que nadie de nuestras promociones.
									</p>
							</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12">
							<div class="input-group">

								<span class="input-group-addon" id="basic-addon1" style="background-color:black;color:white;">@</span>
								<input [(ngModel)]="e_mail" type="text" class="form-control" placeholder="E-Mail" aria-describedby="basic-addon1" style="border-color:black">

							</div>
						</div>

					</div>
						<br>
							<br>
					<div class="row">
							<div class="col-xs-12">
									<button type="button" class="btn btn-primary btn-block" name="button" (click)="fn_guarda_e_mail_notificacion()">Registrate</button>
							</div>
					</div>
			</div>




			<div *ngIf="mostrar_msj_temporal"  class="cls_mensaje_temporal" >
					<a  >
						{{msj_temporal}}
					</a>
			</div>
