
<!--Encabezado-->
<div class="pure-g" id="logo_encabezado">
	<!--<div class="pure-u-1 pure-u-md-5-5 pure-u-lg-2-5 "></div>-->
	<div class="pure-u-1 pure-u-sm-2-5 pure-u-md-3-5 pure-u-lg-3-5 cls_div_logo" style="margin-top:-20px;" >
		<a routerLink="./home">{{nombre_empresa}}</a>
	</div>
	<div class="pure-u-1 pure-u-sm-3-5 pure-u-md-2-5 pure-u-lg-2-5" id="div_encabezado_2"  >
		<div class="pure-g">			
			<div class="pure-u-1-5 pure-u-sm-1-5 pure-u-md-1-5"  style="text-align:right"><a id="btn_muestra_carrito"><img style="margin-right:20px;" class="cls_links_encabezado_img" src="assets/img/carrito-compras.png" (click)="recarga_carrito();"></a></div>
			<div class="pure-u-4-5 pure-u-sm-4-5 pure-u-md-4-5"  style="text-align:right">				
				<app-busqueda></app-busqueda>
			</div>
		</div>
	</div>
</div>
<!--Encabezado-->

<div id="cerrar_menu_encabezado">
</div>

	<div class="pure-g">
		<div class="pure-u-1" style="width:90%;margin-left:5%;text-align:right;">	
			<a >{{usuario_logueado}}</a>
		</div>

	</div>

<!--Menu Principal-->
<div class="pure-g" id="menu_encabezado">
	<div class="pure-u-1" id="menu_encabezado2" >
		<div class="pure-g">								
			<div class="pure-u-1 clsBotonMenu" id="encabezado_menu">
				<div class="pure-g">
					<div class="pure-u-3-5"><a>Menu</a></div>					
				</div>
			</div>					
			<div class="pure-u-1 pure-u-md-1-8 clsBotonMenu"><a routerLink="./de_paso_busqueda/1/1/1"><span>></span> Calzado</a></div>								
			<div class="pure-u-1 pure-u-md-1-8 clsBotonMenu" ><a routerLink="./de_paso_busqueda/1/1/2"><span>></span> Jeans</a></div>
			<div class="pure-u-1 pure-u-md-1-8 clsBotonMenu"><a  routerLink="./de_paso_busqueda/1/1/3"><span>></span> Bolsos</a></div>			
			<div class="pure-u-1 pure-u-md-1-8 clsBotonMenu"><a  routerLink="./de_paso_busqueda/1/1/4"><span>></span> Accesorios</a></div>
			<div class="pure-u-1 pure-u-md-1-8 clsBotonMenu"><a  routerLink="./de_paso_busqueda/1/1/4"><span></span> </a></div>
			
			<div class="pure-u-1 pure-u-md-1-8 clsBotonMenu"><a routerLink="./blog"><span>></span> Blog</a></div>			
			<div class="pure-u-1 pure-u-md-1-8 clsBotonMenu"><a  routerLink="./de_paso_busqueda/1/1/4"><span></span> </a></div>			
			<div class="pure-u-1 pure-u-md-1-8 clsBotonMenu">
				<a (click)="fn_prueba() "id="btn_login" >
					<span>></span> {{btn_login_txt}}
					<div >
						<a routerLink="./cliente/panel-control">Panel de Control</a>
						<a (click)="fn_cerrar_session()" href="#">Salir</a>
					</div>
				</a>
			</div>								
		</div> 
	</div>
</div>


<div id="control_menu_disp_movil">
	<div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<!--Menu Principal--> 
<app-carrito-compras></app-carrito-compras>
<app-login></app-login>
<app-registra-clientes></app-registra-clientes>
<router-outlet>

</router-outlet>

<div id="barra_antes_pie">

</div>
<div class="pure-g cls_pie_pagina">
	<div class=" pure-u-1 pure-u-md-1-3 cls_bloque_pie">
		<div class="pure-form">
			<fieldset>
				<legend>Envios</legend>
				<div class="pure-g">
					<div class="pure-u-1 cls_item ">
						<a href="#">Costo de envio	</a>
					</div>
					<div class="pure-u-1 cls_item">
							<a >Formas de Envio	</a>
					</div>
					<div class="pure-u-1 cls_item">
							<a >Preguntas frecuentes sobre envio</a>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class=" pure-u-1 pure-u-md-1-3 cls_bloque_pie">
		<div class="pure-form">
			<fieldset>
				<legend>Envios</legend>
				<div class="pure-g">
					<div class="pure-u-1 cls_item ">
						<a >Costo de envio	</a>
					</div>
					<div class="pure-u-1 cls_item">
							<a >Formas de Envio	</a>
					</div>
					<div class="pure-u-1 cls_item">
							<a >Preguntas frecuentes sobre envio</a>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class=" pure-u-1 pure-u-md-1-3 cls_bloque_pie">
		<div class="pure-form">
			<fieldset>
				<legend>Envios</legend>
				<div class="pure-g">
					<div class="pure-u-1 cls_item ">
						<a >Costo de envio	</a>
					</div>
					<div class="pure-u-1 cls_item">
							<a >Formas de Envio	</a>
					</div>
					<div class="pure-u-1 cls_item">
							<a >Preguntas frecuentes sobre envio</a>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	
</div>



