

<div id="div_hover_reg_cliente" class="cls_hover " *ngIf="mostrar_nuevo_registro" (click)="fn_cerrar()">

</div>




		<div class="container cls_form_hover " *ngIf="mostrar_nuevo_registro">
			<div class="row">


			<form [formGroup]="registra_cliente"  id="div_form_registra_cliente" class="form-horizontal">

				<div class="col-xs-12">
						<br>
					<a id="btn_regresar_login" (click)="fn_iniciar_session()"> < Regresar</a>
				</div>
				<br>
				<div class="page-header">
						<h1>
							Registro Cliente
						</h1>
				</div>
				<div class="col-xs-12">
					<label >
						Correo Electronico
					</label>
					<input  [className]="cls_email_reg"  id="e_mail_reg_cliente" formControlName="e_mail_reg_cliente" type="text" name="e_mail_reg_cliente" >
					<div
						class="error"
						*ngIf="show_email_reg">
						<a>
							Debe indicar el correo electronico
						</a>
					</div>
				</div>
				<div class="col-xs-12">
					<label>
						Contraseña
					</label>
					<input [className]="cls_psw_reg" id="psw_reg_cliente" formControlName="psw_reg_cliente" type="password" name="psw_reg_cliente">
					<div
						class="col-12 error"
						*ngIf="show_psw_reg">
						<a>
							Debe indicar una contraseña para acceder al sistema
						</a>
					</div>
				</div>
				<div class="col-xs-12">
					<label>
						Confirmar Contraseña
					</label>
					<input [className]="cls_psw_reg_conf" id="psw_reg_cliente_conf" formControlName="psw_reg_cliente_conf" type="password" name="psw_reg_cliente_conf">
					<div
						class="col-12 error"
						*ngIf="show_psw_reg_conf">
						<a>
							Debe indicar una contraseña para acceder al sistema
						</a>
					</div>
				</div>

				<div class="col-xs-12 cls_final_form" >
					<div
						class=" error"
						*ngIf="show_error_reg">
						<br>
						<a>{{msj}}</a>
					</div>
					<br *ngIf="!show_error_reg">
					<button class="btn btn-primary btn-lg btn-block"  (click)="fn_registra_cliente()">
						Guardar
					</button>
				</div>
			</form>
			</div>
		</div>
