

<div class="container " *ngIf="prod" >
	<div class="row">

		<div class=" col-xs-12 col-sm-6" id="galeria_prod">
			<div class="cls_galeria_detalle_prod">
				<div id="img_mostrar">
					<img src="../assets/img/productos/{{img_principal}}_1.png">
				</div>
				<div id="linea_boton_galeria" style="text-align:center"  >
					<a *ngFor="let img of productos.img_prod">
						<img class="cls_boton_img_galeria" src="../assets/img/productos/{{img.img_producto}}_{{img.orden}}.png">
					</a>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6" >

				<div class="row">
					<div class="col-12">
						<div>
							<h1>
								{{productos.nom_producto}}
							</h1>
						</div>
					</div>

					<div class="col-12 col-sm-12 pure-form" >

						<div class=" clsParrafo">
							<div>
								<p>
									{{productos.desc_producto}}

								</p>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 pure-form" >

						<div class=" clsParrafo">
							<div>
									<div  class="cls_atributo" *ngFor="let producto of productos.atributos">
										<p>
											<span>{{producto.atributo}}</span> {{producto.valor_atributo}}
										</p>
									</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 " id="div_forma_pago"  >
						<form  id="form_detalle_producto">

								<div class="col-xs-12" *ngIf="descuento">
									<a class="clsPrecioProdPromo">
										{{precio_antes_descuento}}
									</a>
								</div>
								<div class="col-xs-12">
									<a class="clsPrecioProd">
										${{precio_venta }} (MN)
									</a>
								</div>
								<div class="col-xs-12 col-md-6">
									<select style="border:2px solid black;	font-size:13px;	padding:4px;"   class="forms_control"  [(ngModel)]="id_talla" name="id_talla" id="id_talla_detalle_producto" >
										<option value="0">Talla</option>
										<option *ngFor="let talla of productos.tallas" [value]="talla.id_talla">
											{{talla.talla}}
										</option>
									</select>
								</div>
								<div class="col-xs-12 col-md-6">
									<button (click)="fn_resta_cantidad()"type="button" name="button" style="background-color:black;color:white">-</button>
									<input    id="cantidad_detalle_producto" type="text" placeholder="Cantidad"  [(ngModel)]="cantidad" name="cantidad" style="border:2px solid black;	font-size:13px;padding:3px	;width:20px;text-align:center">
										<button (click)="fn_suma_cantidad()" type="button" name="button" style="background-color:black ;color:white">+</button>
								</div>
								<div class="col-xs-12">
										<a style="font-size:10px;color:black;">Este producto es pieza unica.</a>
									</div>
								<div class="col-xs-12">
									<div
										class=" error"
										*ngIf="show_error_reg">
										<a>{{msj}}</a>
									</div>
									<button class="btn btn-primary btn-block" (click)="agregaProductoCarrito()" id="btn_agregar_carrito_detalle_prod">Agregar</button>
								</div>
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-4">
											<img src="../assets/img/img_envio.png" style="width:30px;">
										</div>
										<div class="col-xs-8">
											<a style="font-family:arial; font-weight:bold; font-size:10px;color:gray;height:100%" >Envio gratis apartir de $700.00.</a>
										</div>
									</div>


								</div>

						</form>

					</div>
				</div>

		</div>

	<div  class="container ">
		<div class="row">
			<br><br>
			<br><br>
		</div>
	</div>

	<div class="container" >
			<div class="row">

				<div class="page-header" >
					<h1>
						Productos Relacionados
					</h1>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2"  *ngFor="let prod of productos.prod_relacionado">
						<div class="thumbnail">
							<div  *ngIf="prod.muestra_descuento" class="cls_descuento_prod_busqueda" >
									-{{prod.descuento}}%
							</div>
						  <a routerLink="/de_paso_detalle_prod/2/{{prod.id_producto_relacionado}}">

							<img src="../assets/img/productos/{{prod.img_producto_rel}}_1.png"  alt="Lights" style="width:100%">
							<div class="caption cls_desc_prod_busqueda">
							  <a class="">{{prod.nombre_producto}}</a>
							</div>
							<div *ngIf="prod.muestra_descuento" class="cls_precio_prom_prod_busqueda">
								<a >Antes: {{prod.precio_antes}}</a>
							</div>
							<div class="cls_precio_prod_busqueda">
								<a>$ {{prod.precio}} <span>(MXN)</span></a>
							</div>
						  </a>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="mostrar" class="cls_div_hover">
</div>
<div *ngIf="mostrar" class="container cls_div_msj_hover" >
	<h1>{{msj}}</h1>
	<!--<button class="pure-button pure-button-primary" (click)="fn_aceptar_msj()">Aceptar</button>-->
	<div class="row">
		<div class="col-xs-6" style="text-align: center;">
			<a>
				Ver Carrito
			</a>
		</div>
		<div class="col-xs-6" style="text-align: center;">
			<a (click)="fn_aceptar_msj()">
				Continuar
			</a>
		</div>
	</div>
</div>



	<ul class="loading" *ngIf="cargando">
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	</ul>

<div class="clsfondologin" id="fondo_login" *ngIf="cargando"></div>


<div *ngIf="mostrar_msj"  class="cls_mensaje_temporal" >
		<a  >
			El producto se agrego correctamente.
		</a>
</div>
