
	
<div class="container cls_detalle_producto" *ngIf="prod">	
	<div class="row">
		<div class="col-12">
			<div class="page-header">
				<h1>
					{{productos.nom_producto}}
				</h1>
			</div>
		</div>
		<div class=" col-12 col-xs-12" id="galeria_prod">
			<div class="cls_galeria_detalle_prod">
				<div id="img_mostrar">
					<img src="../assets/img/productos/{{img_principal}}_1.png">
				</div>
				<div id="linea_boton_galeria" style="text-align:center"  >
					<a *ngFor="let img of productos.img_prod">
						<img class="cls_boton_img_galeria" src="../assets/img/productos/{{img.img_producto}}_{{img.orden}}.png">
					</a>
				</div>
			</div>		
		</div>	
		<div class=" col-12 col-xs-12" >
			<div class="container">
				<div class="row">
					
				
					<div class="col-12 col-sm-12 pure-form" >
			
						<div class=" clsParrafo">
							<div>
								<p>
									{{productos.desc_producto}}
													
								</p>
							</div>
						</div>	
					</div>
				
					<div class="col-xs-6 col-sm-6 pure-form" >
						
						<div class=" clsParrafo">
							<div>									
									<div  class="cls_atributo" *ngFor="let producto of productos.atributos">
										<br>											
										<p>
											<span>{{producto.atributo}}</span> {{producto.valor_atributo}}						
										</p>
									</div>													
							</div>
						</div>	
					</div>
				
					<div class="col-xs-6 col-sm-6 " id="div_forma_pago"  >
						<form class="pure-form pure-form-aligned" id="form_detalle_producto">
							<div class="pure-g">
								<div class="pure-u-1" *ngIf="descuento">
									<a class="clsPrecioProdPromo">
										{{precio_antes_descuento}}
									</a>
								</div>
								<div class="pure-u-1">
									<a class="clsPrecioProd">
										${{precio_venta }} (MN)
									</a>
								</div>
								<div class="pure-u-1">
									<select style="border:2px solid black;	font-size:13px;	padding:4px;"   class="forms_control"  [(ngModel)]="id_talla" name="id_talla" id="id_talla_detalle_producto" >
										<option value="0">Talla</option>
										<option *ngFor="let talla of productos.tallas" [value]="talla.id_talla">
											{{talla.talla}}
										</option>
									</select>
								</div>
								<div class="pure-u-1">						
									<input    id="cantidad_detalle_producto" type="text" placeholder="Cantidad"  [(ngModel)]="cantidad" name="cantidad" style="border:2px solid black;	font-size:13px;	padding:4px;width:50px;">
								</div>					
								
								<div class="pure-u-1">
									<button class="pure-button pure-button-primary" (click)="agregaProductoCarrito()" id="btn_agregar_carrito_detalle_prod">Agregar al carrito</button>
								</div>
								<div class="pure-u-1">
									<div class="pure-g">
										<div class="pure-u-1-5">
											<img src="../assets/img/img_envio.png" style="width:30px;">
										</div>
										<div class="pure-u-4-5">
											<a style="font-family:arial; font-weight:bold; font-size:10px;color:gray;height:100%" >Envio gratis apartir de $700.00.</a>
										</div>
									</div>
									
									
								</div>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>	

	<div  class="container ">
		<div class="row">
			<br><br>
			<br><br>
		</div>
	</div>
	
	<div class="container" >				
			<div class="row">
				
				<div class="page-header" >
					<h1>
						Productos Relacionados
					</h1>
				</div>
				<div class="col-xs-6 col-sm-3"  *ngFor="let prod of productos.prod_relacionado">				
						<div class="thumbnail">
						  <a routerLink="/de_paso_detalle_prod/2/{{prod.id_producto_relacionado}}">
							<img src="../assets/img/productos/{{prod.img_producto_rel}}_1.png"  alt="Lights" style="width:100%">
							<div class="caption">
							  <p class="cls_desc_prod_busqueda">{{prod.nombre_producto}}</p>
							</div>
							<div class="cls_precio_prom_prod_busqueda">
								<a *ngIf="prod.muestra_descuento">Antes: {{prod.precio_antes}}</a>
							</div>
							<div class="cls_precio_prod_busqueda">
								<a>$ {{prod.precio}} <span>(MXN)</span></a>
							</div>
						  </a>
						</div>				
				</div>
			</div>
		</div>  
	</div>
</div>
<div *ngIf="mostrar" class="cls_div_hover">
</div>
<div *ngIf="mostrar" class="cls_div_msj_hover" >
	<h1>{{msj}}</h1>
	<button class="pure-button pure-button-primary" (click)="fn_aceptar_msj()">Aceptar</button>
</div>
		


