		<div id="div_hover_tipo_compra" class="cls_hover cls_login_id" >

		</div>
		<div class="cls_form_hover cls_login_id">			
			
			<form [formGroup]="login"  id="div_form_tipo_compra" class="pure-form pure-form-stacked ">						
				<fieldset>
					<legend>
						<h1>INICIAR SESSION</h1>
					</legend>
					<div class="pure-u-1 ">
						<label >
							Usuario		        
						</label>
						<input class="pure-u-1" id="e_mail_login" formControlName="e_mail_login" type="text" name="e_mail_login" >			        
						<div
							class=" pure-u-23-24 error"
							*ngIf="login.get('e_mail_login').hasError('required') && login.get('e_mail_login').touched">
							<a>El campo usuario no puede ser vacio</a>
						</div>
					</div>
					
					<div class="pure-u-1">
						<label >
							Password			        
						</label>
						<input  class="pure-u-1" id="psw_login" formControlName="psw_login" type="password" name="psw_login" >					
						<div
							class=" pure-u-23-24 error"
							*ngIf="login.get('psw_login').hasError('required') && login.get('psw_login').touched">
							<a>El campo contraseña no puede ser vacio</a>
						</div>
					</div>
					
					<div class="pure-u-1-2 cls_final_form" >					
						<button class="pure-button "  id="btn_cancelar" >
							Cancelar
						</button>
					</div>
					
					<div class="pure-u-1-2 cls_final_form" >					
						<button class="pure-button pure-button-primary " [disabled]="login.invalid" (click)="fn_login()">
							Entrar
						</button>
					</div>
					<div class="pure-u-1">
						<a href="#" style="font-size:10px;">Recupera tu contraseña?</a>
					</div>
					
					<legend>
						<h1>Aun no estas registrado?</h1>
					</legend>
					
					<div class="pure-u-1 cls_final_form">
							<button id="btn_registrate_login" class="pure-button pure-button-primary">Registrate</button>
					</div>
				</fieldset>
			</form>
			
		</div>
		
<div *ngIf="mostrar" class="cls_div_hover">
</div>
<div *ngIf="mostrar" class="cls_div_msj_hover" >
	<h1>{{msj}}</h1>
	<button class="pure-button pure-button-primary" (click)="fn_aceptar_msj()">Aceptar</button>
</div>
		