#div_confirma_salir
{
  width: 50%;
  height: 200px;
  border-radius: 5px;
  background-color:white;
  z-index: 51;
  position: fixed;
  left:25%;
  top:30%;
  height: 220px;
}

@media  screen  and (min-width:736px)
{
  #div_confirma_salir
  {
    width: 30%;
    left: 35%;
  }
}
@media  screen  and (min-width:1000px)
{
  #div_confirma_salir
  {
    width: 20%;
    left: 40%;
    max-width:  500px;

  }
}
