	<div class="container" >
		<div class="row">
			<div class="col-xs-4" style="background-color: gray;;padding-top:10px;padding-bottom:10px;">
				<a style="color: white;">Actualiza tu informacion</a>
			</div>
			<div class="col-xs-4" style="background-color: gray;padding-top:10px;padding-bottom:10px;">
				<a style="color: white;">Confirma tu informacion</a>
			</div>
			<div class="col-xs-4" style="background-color: black;padding-top:10px;padding-bottom:10px;">
				<a style="color: white;"> Selecciona una forma de pago</a>
			</div>
		</div>
		<div class="row">
				<div class="col-xs-12">
					<br>
						<button (click)="fn_regresar()" class="btn btn-primary" style="float: right;" >Regresar</button>
				</div>
				<br>

				<div class="col-xs-12" style="text-align: center;">

					<h1>Selecciona una forma de pago</h1>
					<div class="row">
						<div class="col-xs-12" style="text-align: center;">
							<ngx-paypal [config]="payPalConfig"></ngx-paypal>
						</div>
					</div>
				</div>

		</div>
	</div>
